<app-container>
  <header>
    <section class="cabecalho-link">
      <img src="assets/logo.png" alt="Logo" />
    </section>
    <section class="voltar"></section>
    <section class="cabecalho-contato">
      <img src="assets/perfil-contato.png" alt="Contato" />
    </section>
    <h1>Perfil do Contato</h1>
  </header>

  <app-separador></app-separador>
  <section class="container">
    <section class="foto-nome">
      <div class="perfil-foto">
        <img src="assets/perfil.jpg" alt="imgPerfil" />
      </div>
      <h1 id="nome">Nome</h1>
    </section>
  </section>
</app-container>
