header .cabecalho-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .cabecalho-link img {
  align-self: center;
  margin-bottom: 10px;
}

header .cabecalho-link div {
  display: flex;
  align-self: flex-start;
}

header .cabecalho-link a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  color: #0D6EFD;
}

header .cabecalho-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h1 {
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
  color: #4568CD;
  margin: 12px 0;
}

.container {
  border-radius: 16px;
  border: 1px solid rgb(255, 255, 255);
  background-color: #f8f9fa;
  box-shadow: 0px 8px 16px 0px rgba(32, 83, 160, 0.295);
  width: 700px;
  max-width: 99%;
  margin: 40px auto;
  padding: 56px;
  box-sizing: border-box;
}

.example-margin {
  padding: 0;
  margin: 0;
}

input,
textarea {
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid #CED4DA;
  width: 100%;
  margin: 8px 0 12px 0;
  padding: 6px 12px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-left: none;
  border-right: none;
  background-color: #F5F8FD;
}

input:focus {
  outline: none;
}

label {
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
}


.botao-entrar {
  color: #FFFFFF;
  background-color: #0D6EFD;
  cursor: pointer;
  width: 100%;
  height: 41px;
  padding: 6px, 12px;
  border-radius: 4px;
  border: 1px;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botao-desabilitado {
  background-color: #ADB5BD;
  cursor: not-allowed;
}

.campo{
  display: flex;
  align-items: stretch;
}
.campo .email-input{
  border-right: 1px solid #CED4DA;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.icone-olho {
  width: 40px;
  height: 39px;
  border: 1px solid #CED4DA;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #F5F8FD;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 8px 0 ;
}

.icone-olho img {
  height: 20px;
}

.area{
  margin: 5px 0;
}
.icone-input {
  width: 30px;
  height: 39px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #CED4DA;
  background-color: #F5F8FD;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  padding-left: 3px;
}

.icone-input img {
  height: 22px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.checkbox-container input {
  display: none;
}

.checkmark {
  width: 15px;
  height: 15px;
  border: 2px solid #9aa4b2;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.checkbox-container input:checked + .checkmark {
  background: #2563eb;
  border-color: #2563eb;
}

.checkbox-container input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.botao-esqueci {
  color: #0D6EFD;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 41px;
  padding: 6px, 12px;
  border-radius: 4px;
  border: 1px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
